{% extends 'base.html.twig' %}

{% block title %}{{ 'wallet.edit_title'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ 'wallet.edit_heading'|trans }}</h1>

    <div class="card shadow-sm p-4 bg-white rounded">
        {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
        <div class="col-12">
            {{ form_row(form.name, {
                'label': 'form.wallet.name'|trans,
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="col-12">
            {{ form_row(form.balance, {
                'label': 'form.wallet.balance'|trans,
                'attr': {'class': 'form-control'}
            }) }}
        </div>

        <div class="col-12">
            <button class="btn btn-primary">
                <i class="bi bi-save"></i> {{ 'action.save_changes'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    <a href="{{ path('wallet_index') }}" class="btn btn-outline-primary mt-3">
        <i class="bi bi-arrow-left-circle"></i> {{ 'button.back'|trans }}
    </a>
{% endblock %}
